@model VisaCheckout.Example.Models.SuccessModel

@{
    ViewBag.Title = "Visa Checkout Example";
}
@using VisaCheckout;

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Message</h1>
            </hgroup>
            @Html.ActionLink("Query Profiles", "Select")
            @Html.ActionLink("Create Profile", "Create")
        </div>
    </section>
}
@if (TempData.ContainsKey("error"))
{
    <div class="error">Error</div>
    <code>@TempData["error"]</code>
}
else
{
    <h1>Success Result Data:</h1>
    <code>@Model.UnencryptedData</code>
}