@model VisaCheckout.Example.Models.SuccessModel
@using VisaCheckout;
@{
    ViewBag.Title = "Visa Checkout - GetPaymentData";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Message</h1>
            </hgroup>
            @Html.ActionLink("Get Payment Data", "GetPaymentData", new { callId = ViewBag.CallId })
            @Html.ActionLink("Update Payment Info", "UpdatePayment", new { callId = ViewBag.CallId })
        </div>
    </section>
}
@if (TempData.ContainsKey("error"))
{
    <div class="error">Error</div>
    <code>@TempData["error"]</code>
}
else
{
    <h1>Success Result Data:</h1>
    <code>@Model.UnencryptedData</code>
}